VITE_API_BASE_URL=https://your-backend-domain.com/api
VITE_GOOGLE_CLIENT_ID=117999235610-9ghs0hkm3v5c4vsde12rspcv6qln5uaa.apps.googleusercontent.com
MONGODB_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/secure-notes-app?retryWrites=true&w=majority
JWT_SECRET=4f9c8a21d7e54b6a9f13e246r7y5c7b8a0d4f1-secure-notes-secret
JWT_EXPIRES_IN=1h
ENCRYPTION_KEY=5gtsh7nbzbvyg6gh78qx349v089y76864r
CLIENT_URL=http://localhost:5173
FRONTEND_URL=http://localhost:5173
PORT=5000
GOOGLE_CLIENT_ID=117999235610-9ghs0hkm3v5c4vsde12rspcv6qln5uaa.apps.googleusercontent.com
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
